.counters_container > h3,p {
    display:inline;
}

button {
    width: 105px;
}

p {
    font-size: 15px;
}

canvas{
    background-image: url("assets/backgroundgrid.png");
    background-repeat: no-repeat;
}